body {
	background: black;
}

input {
	border: none;
	border-bottom: 1px solid grey;
}

input,
textarea {
	font-family: Arial, Helvetica, sans-serif;
}

button {
	background-color: gray;
	padding: 5px;
	border-radius: 5px;
	border-width: 1px;
	border-color: lightgrey black black lightgrey;
}

button:hover {
	background-color: darkgrey;
	border-color: black lightgrey lightgrey black;
}

p,
h1 {
	font-family: "Dancing Script";
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
	margin-top: 5px;
}

.postcard-header h1 {
	width: 320px;
	margin: 10px;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 5px;
}

.postcard-footer {
	text-align: center;
}

#comment-input {
	border: none;
	width: 163px;
	resize: none;
}
